<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/home">Home</a>
    </div>
    {% if messages %}
      <ul class="messages">    
        {% for message in messages %}    
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
      </ul>
    {% endif %}

    {% for id, game in results.items %}
      <h1>{{game.name}}</h1>
      <img src="{{game.image}}" alt="{{game.name}} Cover" style="width: 200px;">
      <p>Players: {{game.minplayers}} - {{game.maxplayers}}</p>
      <p>Description: {{game.description}}</p>
    


    <form action="/game/{{ id }}/add_fav" method="POST">
      {% csrf_token %}
      <input type="text" name="title" value="{{ game.name }}">
      <input type="text" name="image" value="{{game.image}}">
      <input type="text" name="bg_id" value="{{ id }}">
      <input type="submit" value="Add To Favorites">
    </form>

    <form action="/game/{{ id }}/record_play" method="POST">
      {% csrf_token %}
      <input type="text" name="title" value="{{ game.name }}">
      <input type="text" name="image" value="{{game.image}}">
      <input type="text" name="bg_id" value="{{ id }}">
      <input type="submit" value="Record Play Session">
    </form>
    {% endfor %} 
  </div>
</body>
</html>