<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="header">
      <h1>Hello! <a href="/user/{{ user.id }}">{{ user.username }}</a></h1>
      <a href="/logout">Log Out</a>
      <form action="/game_search" method="POST">
        {% csrf_token %}
        <input type="search" name="q" id="game_search" placeholder="Game Title">
        <input type="submit" value="Search Games">
      </form>
    </div>

    <form action="/add_game" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add Game">
    </form>

    {% for game in all_games %}
      <a href="/game/{{game.title}}">{{ game.title }}</a>
      {{ game.image }}    
    {% endfor %}



  </div>

</body>
</html>