<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %} ">
  <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Board Game Tracker</h1>

    {% if messages %}
      <ul class="messages">    
        {% for message in messages %}    
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
      </ul>
    {% endif %}

    <div id="form">
      <h3>Register</h3>
      <form action="/reg" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <label for="player">Player Name</label>
        <input type="text" name="player" id="player">

        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="pw_confirm">Confirm Password</label>
        <input type="password" name="pw_confirm" id="pw_confirm">

        <input type="submit" value="Register">
      </form>
    </div>

    <div id="form">
      <h3>Log In</h3>
      <form action="/login" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Log In">
      </form>
    </div>

  </div>
</body>
</html>